// Place all the styles related to the rushing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td, th {
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}


th, td {
  padding: 10px;
}

.current {
  color: red;
}

a {
    color: blue;
}

.download {
  margin: 10px 0px
}
