<!DOCTYPE html>
<html>
  <head>
    <system.web>
      <globalization culture="en-US" uiCulture="en-US" />
    </system.web>
    <title>NflRushing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
